* {
    box-sizing: border-box;
    text-align: center;
    font-family: '標楷體';
    overflow: hidden;
}

.top, .footer,
.left>*,
.right>*{
    border: 1px solid lightgray;
}


.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1024px;
    margin: 5px auto;
}

.top {
    flex-basis: 1000px;
    height: 65px;
}

.left {
    display: flex;
    flex-direction: column;
    flex-basis: 215px;
    height: calc(768px - 65px - 20px);
}

.menu {
    flex-basis: calc(100% - 25px);
}

.update {
    flex-basis: 25px;
    font-size: 16px;
    color: #000000;
}

.right {
    display: flex;
    flex-direction: column;
    flex-basis: calc(1000px - 215px);
}

.marquee {
    flex-basis: 29px;
    font-size: 24px;
    color: #0000FF;
}

.content {
    flex-basis: calc(100% - 29px);
}

.footer {
    flex-basis: 1000px;
    height: 20px;
    color: #000000;
    font-size: 16px;
}
